body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-top: 56px;
    height: 100%;
    /*background-image: url('../img/map_with_icon.jpg');*/
}

/*.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-image: url('../img/map_with_icon.jpg');
}*/

@media all and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(0,77,64,1);
        background: linear-gradient(135deg, rgba(0,77,64,1) 0%, rgba(0,137,123,1) 38%, rgba(0,137,123,1) 47%, rgba(0,137,123,1) 51%, rgba(0,121,107,1) 70%, rgba(0,121,107,1) 76%, rgba(0,77,64,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d40', endColorstr='#004d40', GradientType=1 );
        height: 56px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        color: white;
        box-shadow: 0px 6px 63px 4px rgba(0,0,0,0.75);
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_pic{
        margin-left: 11px;
        margin-right: 11px;
    }

    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        box-shadow: 20px 0px 20px rgba(0,0,0,0.4);
        background: rgba(128,203,196,1);
        background: linear-gradient(135deg, rgba(128,203,196,1) 0%, rgba(0,137,123,1) 31%, rgba(0,121,107,1) 43%, rgba(0,111,97,1) 52%, rgba(0,77,64,1) 81%, rgba(0,77,64,1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cbc4', endColorstr='#004d40', GradientType=1 );
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: Roboto Regular;
        color: white;
        display: block;
        transition: 0.3s
    }

    .sidenav a:active{
        color: #b2dfdb;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
    }

    .nav_content{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background: rgba(245,245,245,1);
        background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(216,219,219,1) 51%, rgba(216,219,219,1) 59%, rgba(245,245,245,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
        border: none;
        text-decoration: none;
        display: none;
        position: absolute;
        box-shadow: inset 0px 21px 46px -11px rgba(51,51,51,1);
        z-index: 1;
        overflow: auto;
    }

    .dropdown .nav_content .set_text{
        font-size: 20px;
        font-family: Roboto Regular;
        display: block;
        color:black;
        padding: 20px 20px 20px 20px;
    }

    .show {
        display:block;
    }


    .title{
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        margin-left: 2px;
        margin-left: 20px;
    }

    h1{
        font-family: Roboto Regular; 
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    h2{
        font-family: Roboto Regular; 
        font-size: 18px;
        font-weight: 100;
    }

    search{
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
    }

    .map{
        height: 555px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: rgba(0,77,64,1);
        background: linear-gradient(135deg, rgba(0,77,64,1) 0%, rgba(0,137,123,1) 38%, rgba(0,137,123,1) 47%, rgba(0,137,123,1) 51%, rgba(0,121,107,1) 70%, rgba(0,121,107,1) 76%, rgba(0,77,64,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d40', endColorstr='#004d40', GradientType=1 );
        height: 56px;
        width: 100%;
        box-shadow: 0px -6px 63px 4px rgba(0,0,0,0.75);
    }

    .footer_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1/3;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .footer_section:active{
        background-color: #00796B;
    }

    .footer_section:active{
        opacity: 1;
    }

    .footer_text{
        color: white;
        font-size: 12px;
        margin: 0;
        font-family: Roboto Regular;
    }

    .browse_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fafafa;
    }

    .destination_pic{
        position: relative;
        height: 175px;
        width: 325px;
        background-color: black;
        margin:0;
        margin-bottom: 12.5px;
        margin-top: 12.5px;
    }

    .pic_text{
        position: absolute;
        top: 10px;
        font-family: Roboto Regular;
        font-size: 24px;
        margin: 0;
    }

    .text_back{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        color: white;
        top: 129px;
        width: 100%;
        height: 46px;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
    }

    .body_home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .home_back{
        display: flex;
        position: absolute;
        bottom: 0;
        text-align: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: rgba(128,203,196,1);
        background: linear-gradient(135deg, rgba(128,203,196,1) 0%, rgba(0,137,123,1) 31%, rgba(0,121,107,1) 43%, rgba(0,111,97,1) 52%, rgba(0,77,64,1) 81%, rgba(0,77,64,1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cbc4', endColorstr='#004d40', GradientType=1 );
    }

    .home_header{
        display: flex;
        z-index: 1;
        flex-direction: row-reverse;
        align-items: center;
        height: 56px;
        width: 100%;
    }

    .home_pic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home_nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 100px;
        
    }

    .home_text{
        align-items: center;
        text-decoration: none;
        font-size: 36px;
        font-family: Roboto Regular;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .home_text:active{
        color: #b2dfdb;
        
    }

    .home_footer{
        position: absolute;
        bottom: 0;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .meny_text{
        font-size: 25px;
        font-family: Roboto Regular;
    }

    
    .modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4);
    }

    .modal_content{
        background: rgba(128,203,196,1);
        background: linear-gradient(135deg, rgba(128,203,196,1) 0%, rgba(0,137,123,1) 31%, rgba(0,121,107,1) 43%, rgba(0,111,97,1) 52%, rgba(0,77,64,1) 81%, rgba(0,77,64,1) 91%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cbc4', endColorstr='#004d40', GradientType=1 );
        margin: 50% auto; /* 15% from the top and centered */
        padding: 10px;
        width: 80%;
    }

    .modal_body{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .modal_text{
        font-size: 18px;
        font-family: Roboto Regular;
        color:white;
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .button_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    button{
        display: flex;
        text-align: center;
        justify-content: center;
        color: white;
        width: 25%;
        margin: 5%;
        background-color: transparent;
    }

    button a{
        font-family: Roboto Regular;
        text-decoration: none;
        color: white;
    }

    .settings_profile{
        display: flex;
        flex-direction: row;
        color: white;
        height: 225px;
        width: 100%;
        background: rgba(20,4,108,1);
        background: linear-gradient(135deg, rgba(20,4,108,1) 0%, rgba(77,12,105,1) 20%, rgba(158,0,90,1) 54%, rgba(158,0,90,1) 58%, rgba(15,15,15,1) 89%, rgba(15,15,15,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14046c', endColorstr='#0f0f0f', GradientType=1 );
    }

    .profile_pic{
        position: relative;
        left: 15%;
        top: 20%;
        width: 75px;
        height: 75px;
        background-color: black;
        border: 1px solid #000000;
        border-radius: 200px 200px 200px 200px;
    }

    .profile_title{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 20%;
        top: 20%;
    }

    .settings_main{
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        box-shadow: inset 0px 11px 35px -10px rgba(0,0,0,0.75);
    }

    .settings_text{
        background: rgba(245,245,245,1);
        background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(216,219,219,1) 51%, rgba(216,219,219,1) 59%, rgba(245,245,245,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
        font-size: 24px;
        font-family: Roboto Regular;
        display: block;
        color:black;
        padding: 9% 5% 5% 5%;
        margin: 0;
    }
}

@font-face { font-family: Roboto Med; src: url('Roboto-Medium.ttf'); }
@font-face { font-family: Roboto Regular; src: url('Roboto-Regular.ttf'); }  

@media screen and (min-device-width: 1200px){
}