body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 56px;
    /*background-image: url('../img/map_with_icon.jpg');*/
}

/*.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-image: url('../img/map_with_icon.jpg');
}*/

@media all and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #00695c;
        height: 56px;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        color: white;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_pic{
        margin-left: 11px;
        margin-right: 11px;
    }

    .sidenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        box-shadow: 20px 0px 20px rgba(0,0,0,0.4);
        background-color: #004D40;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: Roboto Regular;
        color: white;
        display: block;
        transition: 0.3s
    }

    .sidenav a:active{
        color: #b2dfdb;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 36px;
        margin-left: 50px;
    }

    .title{
        display: flex;
        /*justify-content: center;*/
        align-items: center;
        margin-left: 2px;
        margin-left: 20px;
        font-family: Roboto Regular; 
        font-size: 12px;
    }

    search{
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
    }

    .map{
        height: 555px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #00695c;
        height: 56px;
        width: 100%;
    }

    .footer_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1/3;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .footer_section:active{
        background-color: #00796B;
    }

    .footer_section:active{
        opacity: 1;
    }

    .footer_text{
        color: white;
        font-size: 12px;
        margin: 0;
        font-family: Roboto Regular;
    }

    .browse_main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fafafa;
    }

    .destination_pic{
        position: relative;
        height: 175px;
        width: 325px;
        background-color: black;
        margin:0;
        margin-bottom: 12.5px;
        margin-top: 12.5px;
    }

    .pic_text{
        position: absolute;
        top: 10px;
        font-size: 24px;
        margin: 0;
    }

    .text_back{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        color: white;
        top: 129px;
        font: Roboto Regular;
        width: 100%;
        height: 46px;
        background: rgb(0, 0, 0); /* fallback color */
        background: rgba(0, 0, 0, 0.7);
    }
}

@font-face { font-family: Roboto Med; src: url('Roboto-Medium.ttf'); }
@font-face { font-family: Roboto Regular; src: url('Roboto-Regular.ttf'); }  

@media screen and (min-device-width: 1200px){
}